body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
  }
   
  .auth-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
  }
   
  .auth-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
  }
   
  .auth-container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    writing-mode: horizontal-tb;
    transform: none;
  }
 .auth-container button:hover {
    background: #1e40af;
  }  

  .error {
    color: red;
    margin-bottom: 10px;
  }